.container-cadastro {
  height: 100vh;
  background-image: url('../../assets/background.svg');
  background-size: cover;
  font-family: 'Rubik', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.logo-cadastro {
  position: absolute;
  top: 41px;
  left: 100px;
}

.conteudo-cadastro {
  background: #FFFFFF;
  width: 513px;
  height: 581px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-cadastro h1 {
  color: #7978D9;
  font-weight: 500;
  font-size: 28px;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-cadastro input {
  background: #FFFFFF;
  border: 1px solid #555555;
  border-radius: 5px;
  height: 43px;
  width: 443px;
  margin-top: 8px;
  margin-bottom: 21px;
}

.form-cadastro label {
  color: #484848;
  font-weight: 400;
  font-size: 18px;
}

.form-cadastro button {
  all:unset;
  background: #7978D9;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  height: 27px;
  width: 349px;
  padding: 11px 47px;
  margin-bottom: 8px;
  margin-top: 17px;
  cursor: pointer;
  text-align: center;
}

.conteudo-cadastro span, .conteudo-cadastro a {
  color: #7B61FF;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}