* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-home {
  font-family: 'Rubik', sans-serif;
  position: relative;
}

.home-header {
  background-image: url('../../assets/header-home.svg');
  background-size: cover;
  height: 116px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.logo {
  position: absolute;
  top: 41px;
  left: 100px;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.usuario img {
  cursor: pointer;
}

.usuario h4 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin: 0px 16px 0px 7px;
}

.btn-filtro {
  all: unset;
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  width: 80px;
  height: 30px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  margin: 55px 0px 26px 106px;
}


.home-conteudo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

table {
  margin-left: 106px;
  margin-top: 34px;
  border-collapse:collapse;
}

th {
  height: 58px;
  width: 160px;
}

th img {
  cursor: pointer;
}

.header-table {
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 964px;
  height: 58px;
}

.home-conteudo-direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  margin-left: 34px;
  margin-top: 34px;
}

.resumo {
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 196px;
  width: 236px;
  padding: 26px 0px 32px 33px;
}

.resumo h1 {
  color: #2F2F2F;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 23px;
}

.resumo h4 {
  color: #2F2F2F;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

}

.resumo h3 {
  color: #2F2F2F;
  font-weight: 700;
  font-size: 14px;

}

.resumo-entrada, .resumo-saida, .resumo-saldo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 33px;
}

.resumo-saida {
  margin-bottom: 19px;
  margin-top: 12px;
}

.resumo-saldo {
  margin-top: 16px;
}

.resumo-transacao {
  border-bottom: 1px solid #EAEAEA;
}

.dinheiro-entrada, .dinheiro-saida {
  font-weight: 500;
  font-size: 13px;
}

.dinheiro-entrada {
  color: #645FFB;
}

.dinheiro-saida {
  color: #FA8C10;
}

.dinheiro-saldo {
  color: #3A9FF1;
  font-weight: 500;
  font-size: 14px;
}

.home-conteudo-direita button {
  all: unset;
  background: #7978D9;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  height: 46px;
  width: 236px;
  cursor: pointer;
}
